In [1]:
# Add our dependencies.
import csv
import os
import pandas as pd

# Create df from 2022
df1 = pd.read_csv("Resources/CrimeData-2022.csv")
print(df1.head())

  Address   CaseNumber CrimeAgainst Neighborhood OccurDate  OccurTime  \
0     NaN  22-X5668706       Person   Centennial  1/1/2022        100
1     NaN  22-X5668767       Person     Parkrose  1/1/2022          0
2     NaN  22-X5668767      Society     Parkrose  1/1/2022          0
3     NaN  22-X5668818       Person    Woodstock  1/1/2022       1424
4     NaN  22-X5668818       Person    Woodstock  1/1/2022       1424

         OffenseCategory             OffenseType  OpenDataLat  OpenDataLon  \
0       Assault Offenses          Simple Assault          NaN          NaN
1       Assault Offenses      Aggravated Assault          NaN          NaN
2  Weapon Law Violations  Weapons Law Violations          NaN          NaN
3       Assault Offenses          Simple Assault          NaN          NaN
4   Kidnapping/Abduction    Kidnapping/Abduction          NaN          NaN

  ReportDate  OffenseCount
0   1/1/2022             1
1   1/1/2022             1
2   1/1/2022             1
3   1/1/2022             1
4   1/1/2022             1

In [2]:
# Count Crimes by Neighborhood
df3=df1.groupby('Neighborhood')['OffenseCount'].sum()
print(df3.head())

Neighborhood
Alameda               57
Arbor Lodge          190
Ardenwald             19
Argay                196
Arlington Heights     33
Name: OffenseCount, dtype: int64

In [3]:
# Create df from 2021
df2 = pd.read_csv("Resources/CrimeData-2021.csv")
print(df2.head())

  Address   CaseNumber CrimeAgainst         Neighborhood   OccurDate  \
0     NaN  21-X5543818       Person            Concordia  12/31/2020
1     NaN  21-X5543818     Property            Concordia  12/31/2020
2     NaN  21-X5543827       Person                Pearl    1/1/2021
3     NaN  21-X5543859       Person           Centennial    1/1/2021
4     NaN  21-X5543864       Person  Powellhurst-Gilbert    1/1/2021

   OccurTime   OffenseCategory         OffenseType  OpenDataLat  OpenDataLon  \
0       1230  Assault Offenses  Aggravated Assault          NaN          NaN
1       1230  Larceny Offenses   All Other Larceny          NaN          NaN
2        715  Assault Offenses      Simple Assault          NaN          NaN
3       2013  Assault Offenses  Aggravated Assault          NaN          NaN
4        816  Assault Offenses      Simple Assault          NaN          NaN

  ReportDate  OffenseCount
0   1/1/2021             1
1   1/1/2021             1
2   1/1/2021             1
3   1/1/2021             1
4   1/1/2021             1

In [4]:
# Count Crimes by Neighborhood
df4=df2.groupby('Neighborhood')['OffenseCount'].sum()
print(df4.head())

Neighborhood
Alameda              214
Arbor Lodge          643
Ardenwald             29
Argay                717
Arlington Heights     91
Name: OffenseCount, dtype: int64

In [5]:
# Merge 2021 and 2022
df5 = pd.merge(df3, df4, on='Neighborhood')
print(df5.head())

                   OffenseCount_x  OffenseCount_y
Neighborhood
Alameda                        57             214
Arbor Lodge                   190             643
Ardenwald                      19              29
Argay                         196             717
Arlington Heights              33              91

In [6]:
#add 2021 and 2022
sum_column = df5["OffenseCount_x"] + df5["OffenseCount_y"]
df5["Crimecounts"] = sum_column
df6 =df5.drop(columns=['OffenseCount_x', 'OffenseCount_y'])
print(df6.head())

                   Crimecounts
Neighborhood
Alameda                    271
Arbor Lodge                833
Ardenwald                   48
Argay                      913
Arlington Heights          124

In [7]:
#In excel I compared the neighborhood names between this file and the zip by neighborhood and ones that did not match got fixed

In [8]:
#Load Zip and Neighborhood relationships
df7 = pd.read_excel("Resources/Zip_Neighborhood.xlsx")
print(df7.head())

        Neighborhood    Zip
0            Alameda  97212
1        Arbor Lodge  97217
2          Ardenwald  97222
3              Argay  97230
4  Arlington Heights  97201

In [9]:
# Merge crime with Zip
df8 = pd.merge(df6, df7, on='Neighborhood')
print(df8.head())

        Neighborhood  Crimecounts    Zip
0            Alameda          271  97212
1        Arbor Lodge          833  97217
2          Ardenwald           48  97222
3              Argay          913  97230
4  Arlington Heights          124  97201

In [10]:
#Group by zip codes and calculate average
df9 = df8.groupby('Zip')['Crimecounts'].mean()
print(df9.head())

Zip
97201     448.400000
97202     721.833333
97203     731.000000
97204    2774.666667
97205    3291.500000
Name: Crimecounts, dtype: float64

In [11]:
#Round numbers
df10 = df9.round()
print(df10.head())

Zip
97201     448.0
97202     722.0
97203     731.0
97204    2775.0
97205    3292.0
Name: Crimecounts, dtype: float64

In [12]:
#export final cleaned and transformed file to CSV
df10.to_csv("Resources/crimes_by_zip.csv")