In [2]:
# Import dependencies
import pandas as pd

# Read CSV file
income = pd.read_csv('Resources/Raw Data/zipPopDensity_meanHHI.csv')

In [3]:
# Convert to DataFrame
income_df = pd.DataFrame(income)
income_df

,ZIP_CODE,PO_NAME,STATE,zipCodePop,areaSqMile,PopDensity,MeaHHI
0,97212,Portland,OR,26991,2.775,9726.486486,146186.0
1,97206,Portland,OR,50943,6.417,7938.756428,87404.0
2,97213,Portland,OR,31777,4.092,7765.640274,104868.0
3,97215,Portland,OR,17376,2.365,7347.145877,112734.0
4,97227,Portland,OR,8113,1.126,7205.150977,109494.0
...,...,...,...,...,...,...,...
278,97627,Keno,OR,650,701.142,0.927059,69569.0
279,97750,Mitchell,OR,845,949.083,0.890333,55531.0
280,97739,La Pine,OR,1201,1485.296,0.808593,60857.0
281,97037,Maupin,OR,710,945.902,0.750606,66820.0
282,97910,Jordan Valley,OR,756,4651.573,0.162526,56393.0

In [4]:
# Drop unneccesary columns
income_df.drop(income_df.columns[[1, 2]], axis=1, inplace=True)

# Rename columns
income_df = income_df.rename(columns = {'ZIP_CODE':'Zip Code', 'zipCodePop':'Zip Population', 
                                        'areaSqMile':'Zip SqMi', 'PopDensity':'Zip Pop Density',
                                        'MeaHHI':'Zip Mean HHI'})

income_df

     Zip Code  Zip Population  Zip SqMi  Zip Pop Density  Zip Mean HHI
0       97212           26991     2.775      9726.486486      146186.0
1       97206           50943     6.417      7938.756428       87404.0
2       97213           31777     4.092      7765.640274      104868.0
3       97215           17376     2.365      7347.145877      112734.0
4       97227            8113     1.126      7205.150977      109494.0
..        ...             ...       ...              ...           ...
278     97627             650   701.142         0.927059       69569.0
279     97750             845   949.083         0.890333       55531.0
280     97739            1201  1485.296         0.808593       60857.0
281     97037             710   945.902         0.750606       66820.0
282     97910             756  4651.573         0.162526       56393.0

[283 rows x 5 columns]

In [6]:
income_df.isna().sum()

Zip Code           0
Zip Population     0
Zip SqMi           0
Zip Pop Density    0
Zip Mean HHI       6
dtype: int64

In [7]:
# Drop rows with empty cells 
income_df = income_df.dropna()

In [8]:
income_df.isna().sum()

Zip Code           0
Zip Population     0
Zip SqMi           0
Zip Pop Density    0
Zip Mean HHI       0
dtype: int64

In [9]:
# Export to csv
income_df.to_csv('Resources/Clean Data/clean_income.csv', index=False)

In [10]:
# Import DataFrame into database
from sqlalchemy import create_engine
from config import db_password
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Portland_Housing"
engine = create_engine(db_string)
income_df.to_sql(name='income', con=engine)