In [7]:
# Import dependencies
import pandas as pd
import numpy as np
from datetime import datetime

# Read CSV file
housing = pd.read_csv('Resources/portland_housing.csv')

C:\Users\klcol\AppData\Local\Temp\ipykernel_4284\2304343623.py:7: DtypeWarning: Columns (20,50,161,200) have mixed types. Specify dtype option on import or set low_memory=False.
  housing = pd.read_csv('Resources/portland_housing.csv')

In [8]:
# Convert to DataFrame
housing_df = pd.DataFrame(housing)
housing_df

,abbreviatedAddress,address/city,address/zipcode,bathrooms,bedrooms,brokerageName,dateSold,daysOnZillow,description,favoriteCount,...,taxHistory/0/taxPaid,taxHistory/0/time,taxHistory/0/value,taxHistory/0/valueIncreaseRate,url,yearBuilt,zestimate,zestimateHighPercent,zestimateLowPercent,zpid
0,2860 NE Blossom Hill Rd,Fairview,97024,3.0,3.0,NaN,1.621560e+12,25.0,"2860 NE Blossom Hill Rd, Fairview, OR 97024 is...",NaN,...,2989.74,1.592260e+12,172290.0,0.029950,https://www.zillow.com/homedetails/2860-NE-Blo...,2007.0,317406.0,5.0,5.0,72258538
1,20386 NE Mackenzie Ln,Fairview,97024,3.0,3.0,Harcourts Real Estate Network Group,1.619140e+12,53.0,Cute as a button 3bed/2.5bath home with brand ...,NaN,...,NaN,NaN,NaN,NaN,https://www.zillow.com/homedetails/20386-NE-Ma...,2001.0,NaN,NaN,NaN,2073593774
2,1121 SW 10th Dr,Gresham,97080,3.0,4.0,ERA Freeman & Associates,1.622760e+12,11.0,What a wonderful large home at end of quiet cu...,NaN,...,5178.62,1.592260e+12,282340.0,0.029987,https://www.zillow.com/homedetails/1121-SW-10t...,1982.0,512355.0,5.0,5.0,53959026
3,19309 NE Glisan St,Portland,97230,1.0,3.0,"Premiere Property Group, LLC",1.622760e+12,11.0,NaN,1.0,...,2420.36,1.497560e+12,142330.0,0.029959,https://www.zillow.com/homedetails/19309-NE-Gl...,1953.0,NaN,NaN,NaN,176563865
4,25-65 NW 20th St,Gresham,97030,3.0,6.0,NaN,1.622510e+12,14.0,"25-65 NW 20th St, Gresham, OR 97030 is a apart...",NaN,...,2809.61,1.592260e+12,153180.0,0.029989,https://www.zillow.com/homedetails/25-65-NW-20...,1967.0,NaN,NaN,NaN,53819568
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25726,7600 SW Erica Pl,Beaverton,97008,2.0,3.0,Keller Williams Realty Portland Elite,1.595290e+12,363.0,Perfectly nestled back from the Cul-de-sac roa...,NaN,...,4647.94,1.563570e+12,225360.0,0.000000,https://www.zillow.com/homedetails/7600-SW-Eri...,1977.0,489400.0,6.0,5.0,48549635
25727,7275 SW Palmer Way,Beaverton,97007,3.0,4.0,Keller Williams Realty Professionals,1.595200e+12,364.0,Contemporary Dream Home Backing To Lowami Hart...,1.0,...,6470.76,1.563570e+12,313740.0,0.000000,https://www.zillow.com/homedetails/7275-SW-Pal...,1974.0,725500.0,6.0,5.0,48547614
25728,(Undisclosed Address),Beaverton,97008,2.0,2.0,Opendoor Brokerage LLC,1.622760e+12,45.0,This Beaverton two-story cul-de-sac home offer...,NaN,...,4245.13,1.563570e+12,205830.0,0.000000,https://www.zillow.com/homedetails/7811-SW-Hew...,2001.0,387200.0,5.0,5.0,48581875
25729,7250 SW 70th Ave,Portland,97223,2.0,3.0,NaN,1.599000e+12,320.0,Close-in yet feels like the country. Large lot...,NaN,...,3384.07,1.563570e+12,164080.0,0.000000,https://www.zillow.com/homedetails/7250-SW-70t...,1920.0,563700.0,8.0,8.0,48585019
25730,6655 SW 67th Ave,Portland,97223,3.0,4.0,"iPropertiesNW.com, LLC",1.598310e+12,328.0,Gorgeous lot backs to Hideaway Park and is ove...,NaN,...,6179.95,1.563570e+12,299640.0,0.000000,https://www.zillow.com/homedetails/6655-SW-67t...,1959.0,682500.0,6.0,5.0,48584625

In [9]:
# Print all column names to a list
print(housing_df.columns.tolist())

['abbreviatedAddress', 'address/city', 'address/zipcode', 'bathrooms', 'bedrooms', 'brokerageName', 'dateSold', 'daysOnZillow', 'description', 'favoriteCount', 'homeStatus', 'homeType', 'lastSoldPrice', 'latitude', 'livingArea', 'longitude', 'lotSize', 'pageViewCount', 'postingContact/name', 'price', 'priceHistory/0/attributeSource/infoString1', 'priceHistory/0/attributeSource/infoString2', 'priceHistory/0/attributeSource/infoString3', 'priceHistory/0/buyerAgent/name', 'priceHistory/0/buyerAgent/photo/url', 'priceHistory/0/buyerAgent/profileUrl', 'priceHistory/0/date', 'priceHistory/0/event', 'priceHistory/0/postingIsRental', 'priceHistory/0/price', 'priceHistory/0/priceChangeRate', 'priceHistory/0/pricePerSquareFoot', 'priceHistory/0/sellerAgent/name', 'priceHistory/0/sellerAgent/photo/url', 'priceHistory/0/sellerAgent/profileUrl', 'priceHistory/0/showCountyLink', 'priceHistory/0/source', 'priceHistory/0/time', 'priceHistory/1/attributeSource/infoString1', 'priceHistory/1/attributeSource/infoString2', 'priceHistory/1/attributeSource/infoString3', 'priceHistory/1/date', 'priceHistory/1/event', 'priceHistory/1/postingIsRental', 'priceHistory/1/price', 'priceHistory/1/priceChangeRate', 'priceHistory/1/pricePerSquareFoot', 'priceHistory/1/showCountyLink', 'priceHistory/1/source', 'priceHistory/1/time', 'priceHistory/2/attributeSource/infoString1', 'priceHistory/2/attributeSource/infoString2', 'priceHistory/2/attributeSource/infoString3', 'priceHistory/2/date', 'priceHistory/2/event', 'priceHistory/2/postingIsRental', 'priceHistory/2/price', 'priceHistory/2/priceChangeRate', 'priceHistory/2/pricePerSquareFoot', 'priceHistory/2/showCountyLink', 'priceHistory/2/source', 'priceHistory/2/time', 'priceHistory/3/attributeSource/infoString2', 'priceHistory/3/date', 'priceHistory/3/event', 'priceHistory/3/postingIsRental', 'priceHistory/3/price', 'priceHistory/3/priceChangeRate', 'priceHistory/3/pricePerSquareFoot', 'priceHistory/3/showCountyLink', 'priceHistory/3/source', 'priceHistory/3/time', 'priceHistory/4/attributeSource/infoString2', 'priceHistory/4/date', 'priceHistory/4/event', 'priceHistory/4/postingIsRental', 'priceHistory/4/price', 'priceHistory/4/priceChangeRate', 'priceHistory/4/pricePerSquareFoot', 'priceHistory/4/showCountyLink', 'priceHistory/4/source', 'priceHistory/4/time', 'priceHistory/5/attributeSource/infoString2', 'priceHistory/5/date', 'priceHistory/5/event', 'priceHistory/5/postingIsRental', 'priceHistory/5/price', 'priceHistory/5/priceChangeRate', 'priceHistory/5/pricePerSquareFoot', 'priceHistory/5/showCountyLink', 'priceHistory/5/source', 'priceHistory/5/time', 'priceHistory/6/attributeSource/infoString2', 'priceHistory/6/date', 'priceHistory/6/event', 'priceHistory/6/postingIsRental', 'priceHistory/6/price', 'priceHistory/6/priceChangeRate', 'priceHistory/6/pricePerSquareFoot', 'priceHistory/6/showCountyLink', 'priceHistory/6/source', 'priceHistory/6/time', 'priceHistory/7/attributeSource/infoString2', 'priceHistory/7/date', 'priceHistory/7/event', 'priceHistory/7/postingIsRental', 'priceHistory/7/price', 'priceHistory/7/priceChangeRate', 'priceHistory/7/pricePerSquareFoot', 'priceHistory/7/showCountyLink', 'priceHistory/7/source', 'priceHistory/7/time', 'priceHistory/8/attributeSource/infoString2', 'priceHistory/8/date', 'priceHistory/8/event', 'priceHistory/8/postingIsRental', 'priceHistory/8/price', 'priceHistory/8/priceChangeRate', 'priceHistory/8/pricePerSquareFoot', 'priceHistory/8/showCountyLink', 'priceHistory/8/source', 'priceHistory/8/time', 'priceHistory/9/attributeSource/infoString2', 'priceHistory/9/date', 'priceHistory/9/event', 'priceHistory/9/postingIsRental', 'priceHistory/9/price', 'priceHistory/9/priceChangeRate', 'priceHistory/9/pricePerSquareFoot', 'priceHistory/9/showCountyLink', 'priceHistory/9/source', 'priceHistory/9/time', 'priceHistory/10/attributeSource/infoString2', 'priceHistory/10/date', 'priceHistory/10/event', 'priceHistory/10/postingIsRental', 'priceHistory/10/price', 'priceHistory/10/priceChangeRate', 'priceHistory/10/showCountyLink', 'priceHistory/10/source', 'priceHistory/10/time', 'propertyTaxRate', 'rentZestimate', 'rentalApplicationsAcceptedType', 'resoFacts/accessibilityFeatures/0', 'resoFacts/accessibilityFeatures/1', 'resoFacts/appliances/0', 'resoFacts/appliances/1', 'resoFacts/appliances/2', 'resoFacts/appliances/3', 'resoFacts/appliances/4', 'resoFacts/appliances/5', 'resoFacts/appliances/6', 'resoFacts/appliances/7', 'resoFacts/appliances/8', 'resoFacts/architecturalStyle', 'resoFacts/associationAmenities/0', 'resoFacts/associationFee', 'resoFacts/atAGlanceFacts/0/factLabel', 'resoFacts/atAGlanceFacts/0/factValue', 'resoFacts/atAGlanceFacts/1/factLabel', 'resoFacts/atAGlanceFacts/1/factValue', 'resoFacts/atAGlanceFacts/2/factLabel', 'resoFacts/atAGlanceFacts/2/factValue', 'resoFacts/atAGlanceFacts/3/factLabel', 'resoFacts/atAGlanceFacts/3/factValue', 'resoFacts/atAGlanceFacts/4/factLabel', 'resoFacts/atAGlanceFacts/4/factValue', 'resoFacts/atAGlanceFacts/5/factLabel', 'resoFacts/atAGlanceFacts/5/factValue', 'resoFacts/atAGlanceFacts/6/factLabel', 'resoFacts/atAGlanceFacts/6/factValue', 'resoFacts/atAGlanceFacts/7/factLabel', 'resoFacts/basement', 'resoFacts/constructionMaterials/0', 'resoFacts/constructionMaterials/1', 'resoFacts/cooling/0', 'resoFacts/doorFeatures/0', 'resoFacts/exteriorFeatures/0', 'resoFacts/exteriorFeatures/1', 'resoFacts/exteriorFeatures/2', 'resoFacts/fencing', 'resoFacts/fireplaceFeatures/0', 'resoFacts/fireplaces', 'resoFacts/flooring/0', 'resoFacts/flooring/1', 'resoFacts/flooring/2', 'resoFacts/flooring/3', 'resoFacts/flooring/4', 'resoFacts/foundationDetails/0', 'resoFacts/furnished', 'resoFacts/gas/0', 'resoFacts/hasAdditionalParcels', 'resoFacts/hasAssociation', 'resoFacts/hasAttachedGarage', 'resoFacts/hasAttachedProperty', 'resoFacts/hasCarport', 'resoFacts/hasCooling', 'resoFacts/hasFireplace', 'resoFacts/hasGarage', 'resoFacts/hasHeating', 'resoFacts/hasHomeWarranty', 'resoFacts/hasLandLease', 'resoFacts/hasOpenParking', 'resoFacts/hasPetsAllowed', 'resoFacts/hasSpa', 'resoFacts/hasView', 'resoFacts/heating/0', 'resoFacts/heating/1', 'resoFacts/homeType', 'resoFacts/interiorFeatures/0', 'resoFacts/interiorFeatures/1', 'resoFacts/interiorFeatures/2', 'resoFacts/interiorFeatures/3', 'resoFacts/interiorFeatures/4', 'resoFacts/interiorFeatures/5', 'resoFacts/interiorFeatures/6', 'resoFacts/interiorFeatures/7', 'resoFacts/interiorFeatures/8', 'resoFacts/interiorFeatures/9', 'resoFacts/interiorFeatures/10', 'resoFacts/interiorFeatures/11', 'resoFacts/isNewConstruction', 'resoFacts/laundryFeatures/0', 'resoFacts/laundryFeatures/1', 'resoFacts/lotFeatures/0', 'resoFacts/lotFeatures/1', 'resoFacts/onMarketDate', 'resoFacts/otherStructures/0', 'resoFacts/parcelNumber', 'resoFacts/parking', 'resoFacts/parkingFeatures/0', 'resoFacts/parkingFeatures/1', 'resoFacts/parkingFeatures/2', 'resoFacts/parkingFeatures/3', 'resoFacts/patioAndPorchFeatures/0', 'resoFacts/patioAndPorchFeatures/1', 'resoFacts/propertyCondition', 'resoFacts/propertySubType/0', 'resoFacts/roofType', 'resoFacts/rooms/0/roomArea', 'resoFacts/rooms/0/roomFeatures/0', 'resoFacts/rooms/0/roomFeatures/1', 'resoFacts/rooms/0/roomFeatures/2', 'resoFacts/rooms/0/roomLength', 'resoFacts/rooms/0/roomLevel', 'resoFacts/rooms/0/roomType', 'resoFacts/rooms/0/roomWidth', 'resoFacts/rooms/1/roomArea', 'resoFacts/rooms/1/roomFeatures/0', 'resoFacts/rooms/1/roomFeatures/1', 'resoFacts/rooms/1/roomLength', 'resoFacts/rooms/1/roomLevel', 'resoFacts/rooms/1/roomType', 'resoFacts/rooms/1/roomWidth', 'resoFacts/rooms/2/roomArea', 'resoFacts/rooms/2/roomFeatures/0', 'resoFacts/rooms/2/roomFeatures/1', 'resoFacts/rooms/2/roomLength', 'resoFacts/rooms/2/roomLevel', 'resoFacts/rooms/2/roomType', 'resoFacts/rooms/2/roomWidth', 'resoFacts/rooms/3/roomArea', 'resoFacts/rooms/3/roomFeatures/0', 'resoFacts/rooms/3/roomFeatures/1', 'resoFacts/rooms/3/roomLength', 'resoFacts/rooms/3/roomLevel', 'resoFacts/rooms/3/roomType', 'resoFacts/rooms/3/roomWidth', 'resoFacts/rooms/4/roomArea', 'resoFacts/rooms/4/roomFeatures/0', 'resoFacts/rooms/4/roomFeatures/1', 'resoFacts/rooms/4/roomFeatures/2', 'resoFacts/rooms/4/roomLength', 'resoFacts/rooms/4/roomLevel', 'resoFacts/rooms/4/roomType', 'resoFacts/rooms/4/roomWidth', 'resoFacts/rooms/5/roomArea', 'resoFacts/rooms/5/roomFeatures/0', 'resoFacts/rooms/5/roomFeatures/1', 'resoFacts/rooms/5/roomFeatures/2', 'resoFacts/rooms/5/roomLength', 'resoFacts/rooms/5/roomLevel', 'resoFacts/rooms/5/roomType', 'resoFacts/rooms/5/roomWidth', 'resoFacts/rooms/6/roomArea', 'resoFacts/rooms/6/roomFeatures/0', 'resoFacts/rooms/6/roomFeatures/1', 'resoFacts/rooms/6/roomFeatures/2', 'resoFacts/rooms/6/roomLength', 'resoFacts/rooms/6/roomLevel', 'resoFacts/rooms/6/roomType', 'resoFacts/rooms/6/roomWidth', 'resoFacts/rooms/7/roomLevel', 'resoFacts/rooms/7/roomType', 'resoFacts/securityFeatures/0', 'resoFacts/sewer/0', 'resoFacts/stories', 'resoFacts/subdivisionName', 'resoFacts/view/0', 'resoFacts/waterSource/0', 'resoFacts/waterViewYN', 'resoFacts/windowFeatures/0', 'resoFacts/windowFeatures/1', 'restimateHighPercent', 'restimateLowPercent', 'schools/0/distance', 'schools/0/level', 'schools/0/link', 'schools/0/name', 'schools/0/rating', 'schools/0/size', 'schools/0/studentsPerTeacher', 'schools/0/totalCount', 'schools/1/distance', 'schools/1/level', 'schools/1/link', 'schools/1/name', 'schools/1/rating', 'schools/1/size', 'schools/1/studentsPerTeacher', 'schools/1/totalCount', 'schools/2/distance', 'schools/2/level', 'schools/2/link', 'schools/2/name', 'schools/2/rating', 'schools/2/size', 'schools/2/studentsPerTeacher', 'schools/2/totalCount', 'solarPotential/buildFactor', 'solarPotential/climateFactor', 'solarPotential/electricityFactor', 'solarPotential/solarFactor', 'solarPotential/sunScore', 'taxAssessedValue', 'taxAssessedYear', 'taxHistory/0/taxIncreaseRate', 'taxHistory/0/taxPaid', 'taxHistory/0/time', 'taxHistory/0/value', 'taxHistory/0/valueIncreaseRate', 'url', 'yearBuilt', 'zestimate', 'zestimateHighPercent', 'zestimateLowPercent', 'zpid']

In [10]:
# Create new DataFrame for cleaning data
clean_housing_df = housing_df

# Drop unnecessary columns
clean_housing_df.drop(clean_housing_df.columns[[0, 5, 7, 8, 9, 
                                                10, 12, 13, 15, 17, 
                                                18, 143, 342, 347]], axis=1, inplace=True)
clean_housing_df.drop(list(clean_housing_df.filter(regex='priceHistory')), axis=1, inplace=True)
clean_housing_df.drop(list(clean_housing_df.filter(regex='tax')), axis=1, inplace=True)
clean_housing_df.drop(list(clean_housing_df.filter(regex='schools')), axis=1, inplace=True)
clean_housing_df.drop(list(clean_housing_df.filter(regex='estimate')), axis=1, inplace=True)
clean_housing_df.drop(list(clean_housing_df.filter(regex='solar')), axis=1, inplace=True)
clean_housing_df.drop(list(clean_housing_df.filter(regex='reso')), axis=1, inplace=True)
clean_housing_df.drop(list(clean_housing_df.filter(regex='propertyTaxRate')), axis=1, inplace=True)

# Drop all Home Types except Single Family
clean_housing_df.drop(clean_housing_df[clean_housing_df.homeType!='SINGLE_FAMILY'].index, inplace=True)

clean_housing_df

,address/city,address/zipcode,bathrooms,bedrooms,dateSold,homeType,livingArea,lotSize,price,yearBuilt
1,Fairview,97024,3.0,3.0,1.619140e+12,SINGLE_FAMILY,1518.0,3484.0,400000,2001.0
2,Gresham,97080,3.0,4.0,1.622760e+12,SINGLE_FAMILY,2724.0,9583.0,512000,1982.0
3,Portland,97230,1.0,3.0,1.622760e+12,SINGLE_FAMILY,1217.0,13939.0,348000,1953.0
5,Gresham,97080,2.0,3.0,1.622510e+12,SINGLE_FAMILY,1150.0,7000.0,404200,1967.0
6,Gresham,97030,2.0,3.0,1.621560e+12,SINGLE_FAMILY,2036.0,6969.0,478200,1978.0
...,...,...,...,...,...,...,...,...,...,...
25725,Beaverton,97007,2.0,3.0,1.595550e+12,SINGLE_FAMILY,1924.0,14374.0,485000,1981.0
25726,Beaverton,97008,2.0,3.0,1.595290e+12,SINGLE_FAMILY,1378.0,10018.0,415000,1977.0
25727,Beaverton,97007,3.0,4.0,1.595200e+12,SINGLE_FAMILY,2176.0,9583.0,615000,1974.0
25729,Portland,97223,2.0,3.0,1.599000e+12,SINGLE_FAMILY,1450.0,17859.0,57997,1920.0
25730,Portland,97223,3.0,4.0,1.598310e+12,SINGLE_FAMILY,2615.0,15681.0,585000,1959.0

In [11]:
# Drop homeType once all home types are removed other than Single Family
clean_housing_df.drop(list(clean_housing_df.filter(regex='homeType')), axis=1, inplace=True)

clean_housing_df

,address/city,address/zipcode,bathrooms,bedrooms,dateSold,livingArea,lotSize,price,yearBuilt
1,Fairview,97024,3.0,3.0,1.619140e+12,1518.0,3484.0,400000,2001.0
2,Gresham,97080,3.0,4.0,1.622760e+12,2724.0,9583.0,512000,1982.0
3,Portland,97230,1.0,3.0,1.622760e+12,1217.0,13939.0,348000,1953.0
5,Gresham,97080,2.0,3.0,1.622510e+12,1150.0,7000.0,404200,1967.0
6,Gresham,97030,2.0,3.0,1.621560e+12,2036.0,6969.0,478200,1978.0
...,...,...,...,...,...,...,...,...,...
25725,Beaverton,97007,2.0,3.0,1.595550e+12,1924.0,14374.0,485000,1981.0
25726,Beaverton,97008,2.0,3.0,1.595290e+12,1378.0,10018.0,415000,1977.0
25727,Beaverton,97007,3.0,4.0,1.595200e+12,2176.0,9583.0,615000,1974.0
25729,Portland,97223,2.0,3.0,1.599000e+12,1450.0,17859.0,57997,1920.0
25730,Portland,97223,3.0,4.0,1.598310e+12,2615.0,15681.0,585000,1959.0

In [12]:
# Rename columns
clean_housing_df = clean_housing_df.rename(columns={'address/city':'City', 'address/zipcode':'Zip Code', 
                                                    'bathrooms':'Bath', 'bedrooms':'Bed', 
                                                    'dateSold':'Sale Date', 'livingArea':'Square Feet', 
                                                    'lotSize':'Lot Size', 'price':'Sale Price', 
                                                    'yearBuilt':'Year Built'})

# Reorder columns
clean_housing_df = clean_housing_df[['Sale Date', 'City', 
                                     'Zip Code', 'Year Built', 'Bed', 
                                     'Bath', 'Sale Price', 
                                     'Square Feet', 'Lot Size']]

clean_housing_df

,Sale Date,City,Zip Code,Year Built,Bed,Bath,Sale Price,Square Feet,Lot Size
1,1.619140e+12,Fairview,97024,2001.0,3.0,3.0,400000,1518.0,3484.0
2,1.622760e+12,Gresham,97080,1982.0,4.0,3.0,512000,2724.0,9583.0
3,1.622760e+12,Portland,97230,1953.0,3.0,1.0,348000,1217.0,13939.0
5,1.622510e+12,Gresham,97080,1967.0,3.0,2.0,404200,1150.0,7000.0
6,1.621560e+12,Gresham,97030,1978.0,3.0,2.0,478200,2036.0,6969.0
...,...,...,...,...,...,...,...,...,...
25725,1.595550e+12,Beaverton,97007,1981.0,3.0,2.0,485000,1924.0,14374.0
25726,1.595290e+12,Beaverton,97008,1977.0,3.0,2.0,415000,1378.0,10018.0
25727,1.595200e+12,Beaverton,97007,1974.0,4.0,3.0,615000,2176.0,9583.0
25729,1.599000e+12,Portland,97223,1920.0,3.0,2.0,57997,1450.0,17859.0
25730,1.598310e+12,Portland,97223,1959.0,4.0,3.0,585000,2615.0,15681.0

In [13]:
# Convert Sale Date from unix timestamp to date
clean_housing_df['Sale Date'] = pd.to_datetime(clean_housing_df['Sale Date'], unit='ms')
clean_housing_df['Sale Date'] = pd.to_datetime(clean_housing_df['Sale Date']).dt.date

clean_housing_df

,Sale Date,City,Zip Code,Year Built,Bed,Bath,Sale Price,Square Feet,Lot Size
1,2021-04-23,Fairview,97024,2001.0,3.0,3.0,400000,1518.0,3484.0
2,2021-06-03,Gresham,97080,1982.0,4.0,3.0,512000,2724.0,9583.0
3,2021-06-03,Portland,97230,1953.0,3.0,1.0,348000,1217.0,13939.0
5,2021-06-01,Gresham,97080,1967.0,3.0,2.0,404200,1150.0,7000.0
6,2021-05-21,Gresham,97030,1978.0,3.0,2.0,478200,2036.0,6969.0
...,...,...,...,...,...,...,...,...,...
25725,2020-07-24,Beaverton,97007,1981.0,3.0,2.0,485000,1924.0,14374.0
25726,2020-07-21,Beaverton,97008,1977.0,3.0,2.0,415000,1378.0,10018.0
25727,2020-07-19,Beaverton,97007,1974.0,4.0,3.0,615000,2176.0,9583.0
25729,2020-09-01,Portland,97223,1920.0,3.0,2.0,57997,1450.0,17859.0
25730,2020-08-24,Portland,97223,1959.0,4.0,3.0,585000,2615.0,15681.0

In [14]:
clean_housing_df.dtypes

Sale Date       object
City            object
Zip Code         int64
Year Built     float64
Bed            float64
Bath           float64
Sale Price       int64
Square Feet    float64
Lot Size       float64
dtype: object

In [15]:
clean_housing_df.isna().sum()

Sale Date         0
City              0
Zip Code          0
Year Built      501
Bed             654
Bath            460
Sale Price        0
Square Feet     444
Lot Size       1015
dtype: int64

In [16]:
# Drop rows with empty cells
clean_housing_df = clean_housing_df.dropna()

In [17]:
clean_housing_df.isna().sum()

Sale Date      0
City           0
Zip Code       0
Year Built     0
Bed            0
Bath           0
Sale Price     0
Square Feet    0
Lot Size       0
dtype: int64

In [18]:
# Convert data types
clean_housing_df = clean_housing_df.astype({'Year Built': int, 
                                           'Bed': int,  
                                           'Square Feet': int, 
                                           'Lot Size': int})

clean_housing_df

,Sale Date,City,Zip Code,Year Built,Bed,Bath,Sale Price,Square Feet,Lot Size
1,2021-04-23,Fairview,97024,2001,3,3.0,400000,1518,3484
2,2021-06-03,Gresham,97080,1982,4,3.0,512000,2724,9583
3,2021-06-03,Portland,97230,1953,3,1.0,348000,1217,13939
5,2021-06-01,Gresham,97080,1967,3,2.0,404200,1150,7000
6,2021-05-21,Gresham,97030,1978,3,2.0,478200,2036,6969
...,...,...,...,...,...,...,...,...,...
25725,2020-07-24,Beaverton,97007,1981,3,2.0,485000,1924,14374
25726,2020-07-21,Beaverton,97008,1977,3,2.0,415000,1378,10018
25727,2020-07-19,Beaverton,97007,1974,4,3.0,615000,2176,9583
25729,2020-09-01,Portland,97223,1920,3,2.0,57997,1450,17859
25730,2020-08-24,Portland,97223,1959,4,3.0,585000,2615,15681

In [19]:
clean_housing_df.dtypes

Sale Date       object
City            object
Zip Code         int64
Year Built       int32
Bed              int32
Bath           float64
Sale Price       int64
Square Feet      int32
Lot Size         int32
dtype: object

In [20]:
# Load population density data
income = pd.read_csv('Resources/zipPopDensity_meanHHI.csv')
crime = pd.read_csv('Resources/crimes_by_zip.csv')
# Convert to DataFrame
income_df = pd.DataFrame(income)
crime_df = pd.DataFrame(crime)

income_df

,ZIP_CODE,PO_NAME,STATE,zipCodePop,areaSqMile,PopDensity,MeaHHI
0,97212,Portland,OR,26991,2.775,9726.486486,146186.0
1,97206,Portland,OR,50943,6.417,7938.756428,87404.0
2,97213,Portland,OR,31777,4.092,7765.640274,104868.0
3,97215,Portland,OR,17376,2.365,7347.145877,112734.0
4,97227,Portland,OR,8113,1.126,7205.150977,109494.0
...,...,...,...,...,...,...,...
278,97627,Keno,OR,650,701.142,0.927059,69569.0
279,97750,Mitchell,OR,845,949.083,0.890333,55531.0
280,97739,La Pine,OR,1201,1485.296,0.808593,60857.0
281,97037,Maupin,OR,710,945.902,0.750606,66820.0
282,97910,Jordan Valley,OR,756,4651.573,0.162526,56393.0

In [27]:
crime_df = crime_df.rename(columns={'Zip':'Zip Code'})
crime_df

    Zip Code  Zip Crime Counts
0      97201               448
1      97202               722
2      97203               731
3      97204              2775
4      97205              3292
5      97206               892
6      97209              2165
7      97210              1003
8      97211               560
9      97212               647
10     97213               878
11     97214              1185
12     97215               718
13     97216              2829
14     97217               890
15     97218              1377
16     97219               234
17     97220               728
18     97221               166
19     97222                48
20     97227              1234
21     97229               164
22     97230              1443
23     97231               231
24     97232              1060
25     97233              2192
26     97236              1477
27     97239               366
28     97266              2723
29     97296               207

In [28]:
# Drop unneccesary columns
income_df.drop(income_df.columns[[1, 2]], axis=1, inplace=True)

# Rename columns
income_df = income_df.rename(columns = {'ZIP_CODE':'Zip Code', 'zipCodePop':'Zip Population', 
                                        'areaSqMile':'Zip SqMi', 'PopDensity':'Zip Pop Density',
                                        'MeaHHI':'Zip Mean HHI'})

income_df

     Zip Code  Zip Pop Density  Zip Mean HHI
0       97212      9726.486486      146186.0
1       97206      7938.756428       87404.0
2       97213      7765.640274      104868.0
3       97215      7347.145877      112734.0
4       97227      7205.150977      109494.0
..        ...              ...           ...
278     97627         0.927059       69569.0
279     97750         0.890333       55531.0
280     97739         0.808593       60857.0
281     97037         0.750606       66820.0
282     97910         0.162526       56393.0

[283 rows x 3 columns]

In [29]:
# Merge DataFrames
combined_df = pd.merge(clean_housing_df, income_df, on='Zip Code')

combined_df

,Sale Date,City,Zip Code,Year Built,Bed,Bath,Sale Price,Square Feet,Lot Size,Zip Pop Density,Zip Mean HHI
0,2021-06-03,Gresham,97080,1982,4,3.0,512000,2724,9583,1352.748860,97765.0
1,2021-06-01,Gresham,97080,1967,3,2.0,404200,1150,7000,1352.748860,97765.0
2,2021-05-20,Gresham,97080,2018,4,2.0,530000,1947,4791,1352.748860,97765.0
3,2021-05-12,Gresham,97080,2006,3,3.0,419900,1548,5009,1352.748860,97765.0
4,2021-05-04,Gresham,97080,2017,3,3.0,550000,2209,5227,1352.748860,97765.0
...,...,...,...,...,...,...,...,...,...,...,...
20650,2020-12-08,Beaverton,97005,1952,2,1.0,300000,743,4356,2163.486644,73178.0
20651,2020-07-22,Beaverton,97005,1962,4,2.0,469000,1681,6969,2163.486644,73178.0
20652,2021-01-29,Beaverton,97005,1971,3,2.0,305000,1387,7841,2163.486644,73178.0
20653,2021-01-04,Beaverton,97005,2015,3,3.0,429000,1463,1306,2163.486644,73178.0
20654,2020-12-02,Beaverton,97005,1947,2,1.0,375000,1174,7840,2163.486644,73178.0

In [30]:
combined_df_all = pd.merge(combined_df, crime_df, on='Zip Code')
combined_df_all

,Sale Date,City,Zip Code,Year Built,Bed,Bath,Sale Price,Square Feet,Lot Size,Zip Pop Density,Zip Mean HHI,Zip Crime Counts
0,2021-06-03,Portland,97230,1953,3,1.0,348000,1217,13939,1866.790801,76745.0,1443
1,2021-02-26,Portland,97230,1962,3,1.0,387000,1328,6969,1866.790801,76745.0,1443
2,2021-03-23,Portland,97230,1954,3,2.0,383000,1500,9435,1866.790801,76745.0,1443
3,2021-03-23,Portland,97230,1956,3,1.0,362000,912,8712,1866.790801,76745.0,1443
4,2021-03-18,Portland,97230,1947,3,2.0,365000,1420,10890,1866.790801,76745.0,1443
...,...,...,...,...,...,...,...,...,...,...,...,...
9184,2020-12-22,Portland,97216,1954,3,3.0,520000,2419,6100,3211.941479,70982.0,2829
9185,2020-12-18,Portland,97216,2015,4,3.0,565000,3061,8712,3211.941479,70982.0,2829
9186,2020-12-16,Portland,97216,1988,5,3.0,510000,1997,9147,3211.941479,70982.0,2829
9187,2020-08-30,Portland,97216,1957,3,2.0,480000,2786,10018,3211.941479,70982.0,2829
9188,2020-08-18,Portland,97216,1952,3,2.0,485000,2161,5662,3211.941479,70982.0,2829

In [31]:
# Export to csv
combined_df.to_csv('Resources/combined_housing.csv', index=False)